* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5E5E5;
}

body::before {
  content: "";
  height: 436px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background: #535971;
}

.page {
  width: 750px;
  margin: auto;
}

header {
  width: 417px;
  margin-top: 140px;
  color: white;
}

header h1 {
  font-family: 'Staatliches', cursive;
  font-size: 48px;
  line-height: 60px;

  margin-bottom: 18px;
}

header p {
  font-family: 'Poppins', sans-serif;

  font-size: 20px;
  line-height: 30px;
}

form {
  margin-top: 38px;
  background: white;
  border-radius: 20px 20px 0 0;
  min-height: 300px;

  padding: 16px 64px 64px;

  display: flex;
  flex-direction: column;

}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.fieldset-wrapper legend {
  margin-top: 48px;
  margin-bottom: 16px;
}

fieldset legend {
  font-family: 'Staatliches', cursive;
  font-size: 24px;
  line-height: 34px;

  color: #535971;

  border-bottom: 1px solid #E6E6F0;


}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;
}

.input-wrapper label span {
  font-size: 12px;
  line-height: 20px;
  margin-left: 8px;

  color: #C1BCCC;
}

.input-wrapper label span:hover {
  color: #7b7684;
}

.input-wrapper input {
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 56px;
  padding: 0 24px;

  color: #4E4958;
}

.col-name {
  display: flex;
  gap: 22px;
}

.col-name>div:nth-child(1) {
  width: 50%;
}

.col-name>div:nth-child(2) {
  width: 50%;
}

.col-date legend {
  font-size: 20px;
  line-height: 34px;
  border: none;
  margin-top: 16px;
  margin-bottom: 0;
}

.col-date1,
.col-date2 {
  display: flex;
  gap: 10px;
}

.col-date1>div:nth-child(1),
.col-date2>div:nth-child(1) {
  width: 300px;
  margin-right: 22px;
}


.col-date1>div:nth-child(2),
.col-date2>div:nth-child(2),
.col-date1>div:nth-child(3),
.col-date2>div:nth-child(3) {
  width: 140px;
}

footer {
  background: #535971;

  height: 160px;

  display: flex;
  flex-direction: column;

  padding: 52px 71px;

  margin-bottom: 366px;

  border-radius: 0 0 20px 20px;
}

footer .button {
  cursor: pointer;
  height: 55px;
  background: #FF5374;
  border: 0;
  border-radius: 20px;

  font-family: 'Staatliches', cursive;

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  color: #FFFFFF;
}

.button:hover {
  background: #d13151;
}